div{
	font-family: 'Amaranth', sans-serif;
}
.display-4{
	background-color:#75646a ;
}
	
.jumbotron{
	background-color : #a31c1d !important ;
}
.my-4{
	background-color:#75646a;
}
.kan{
	float:center;
}
h4{
	background-color:#75646a;
}
.kaneki{
	float:right;
}
